<div class="comments">
  {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comments}}
            </div>
            <div class="meta">
              <p>Created by {{user.name}} on {{format_date date_created}}</p>
            </div>
        </section>
    </div>
  {{/each}}
</div>
